.nav a {
  color: green;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://static.pexels.com/photos/17587/pexels-photo.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}



.jumbotron h1 {
  color: #fff;
  font-size: 50px;  
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 25px;
  color: white;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #green;
}

.neighborhood-guides{
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: grey;
    font-size: 40px;

}

.neighborhood-guides p{
     font-size: 20px;
    margin-bottom: 13px;    
}
